/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
ul, ol {
    list-style: none;
}

body {
    font-family: "Open sans", sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

/*CALCULADORA*/
:root {
    --cor-text: #fff ;
}

body{
    background-color: #090e22;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--cor-text) ;
}